@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
    font-family: "JetBrains Mono";
}
body {
    margin: 0;
    padding: 0;
    background-color: #1f2235;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.brand {
    text-align: center;
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}
.links-container > ul > li {
    display: inline-block;
}
.links-container > ul > li > a {
    color: #ffffff;
    padding: 6px;
    font-family: "JetBrains Mono";
    font-size: 14px;
}

.navigation {
    display: grid;
    grid-template-columns: 60% 40%;
}
.social-icons > img {
    padding: 5px;
    margin: 5px;
}
.header > .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    padding: 60px;
    background-color: #242f49;
}
.social-icons > ion-icon {
    color: #ffffff;
    border: 1px solid #f64f55;
    border-radius: 100px;
    padding: 5px;
    margin: 5px;
}
.header {
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%;
    height: 60vh; /* Adjust this value as needed */
}
.left {
    margin-left: 150px;
}
.header-content > * {
    /* width: 70%; */
    color: #ffffff;
    font-family: "JetBrains Mono";
}
.header-content > p {
    font-size: 12px;
}
#identity {
    font-family: sans-serif;
}
#play {
    padding: 8px 19px 8px 19px;
}
.button-wrapper > button {
    background-color: #23253a;
    border: 1px solid #f64f55;
    border-radius: 20px;
    padding: 8px 19px;
    color: #ffffff;
    font-size: 10px;
    cursor: pointer;
}
.button-wrapper > button:hover {
    background-color: #f64f55;
}
